// Colors
$tomato: tomato;
$blue: lightblue;
$grey: #888888;
$dark-grey: #505050;
$light-yellow: #FFF5C3;
$dark-yellow: #DEDBA7;
$white: floralwhite;


// Font Families
$opensans: 'Open Sans', Arial, sans-serif;